/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
/* VARIABLES */
/* MIX-INS */
* {
  box-sizing: border-box;
  font-size: 16px;
}
html,
body {
  height: 100%;
  background-color: fff;
  color: #293340;
  font-family: 'PT Serif', serif;
  font-size: 16px;
  line-height: auto;
  margin: auto;
  width: 90%;
}
h1 {
  font-size: 2rem;
  padding-bottom: 2.5rem;
  color: #000;
  font-family: 'PT Serif', serif;
}
h2,
h3 {
  font-size: 1.75rem;
  color: #000;
  padding-bottom: 2.5rem;
  font-family: 'PT Serif', serif;
}
h4,
h5 {
  font-size: 1.25rem;
  color: black;
  padding-bottom: 2.5rem;
  font-family: 'PT Serif', serif;
}
p {
  color: darkslategray;
  padding-top: 2%;
  padding-bottom: 2.5rem;
}
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
}
nav a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.top-nav-links {
  width: 100%;
  padding-left: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
a:hover {
  color: coral;
}
#header {
  width: 100%;
  background-color: lightgray;
  padding-top: 2rem;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}
#header .header-image {
  width: 40%;
  padding-top: 5%;
  padding-bottom: 5%;
}
#header h3 {
  padding-bottom: 2.5rem;
  border-bottom: 1px dotted #000;
}
#header .team-up-btn {
  display: block;
  background-color: #293340;
  font-size: 1.175rem;
  color: #fff;
  padding: 0.5rem;
  border-radius: 10px;
}
@media (max-width: 800px) {
  #header .team-up-btn {
    background: purple;
  }
}
@media (max-width: 500px) {
  #header .team-up-btn {
    background: #442aec;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#top-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
#top-content .text-container {
  padding-bottom: 2.5rem;
}
#top-content .text-container .text-container-box div {
  border: 1px solid lightgray;
  padding: 1.5rem;
}
#middle-content {
  padding-bottom: 10%;
}
#middle-content .table .tbl {
  display: flex;
  flex-direction: column;
}
#middle-content .table .tbl .row {
  display: flex;
  min-height: 50px;
}
#middle-content .table .tbl .row .cell {
  flex: 4;
}
#middle-content .table .tbl .row .cell .cell:nth-child(1) {
  flex: 1;
}
#middle-content .table .tbl .row .cell .cell:nth-child(1) .cell:nth-child(2) {
  flex: 2;
}
#middle-content .table .tbl .row .cell .cell:nth-child(1) .cell:nth-child(2) .row:first-child .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
#middle-content .table .tbl .row .cell .cell:nth-child(1) .cell:nth-child(2) .row:first-child .cell .row .cell {
  padding: 1%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
#bottom .footer-content {
  width: 100%;
}
#bottom footer {
  background: darkgray;
}
#bottom footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 1rem;
}
#bottom footer nav a {
  color: #000;
  text-decoration: none;
}
