// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
/* VARIABLES */
@main-color: #293340;
@second-color:purple;
@third-color:rgb(68, 42, 236);
@button-text-color:#fff;
@hover-color:coral;
@default-font-color:#000;
@heading-font: 'Lora', serif;
@body-font: 'PT Serif', serif;
@standard-bottom-padding:2.5rem;

/* MIX-INS */
.center-align(){
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}




* {
	box-sizing: border-box;
	font-size: 16px;
}

html, body {
	height: 100%;
	// background-color:red;
	background-color: fff;
    color: #293340;
	font-family:@body-font; 
    font-size: 16px;
    line-height: auto;
	margin: auto;
	width:90%;
}

h1 {
	font-size: 2rem;
	padding-bottom:@standard-bottom-padding;
    color:@default-font-color;
	font-family: 'PT Serif', serif;
}

h2, h3{
	font-size:1.75rem;
	color:@default-font-color;
	padding-bottom:@standard-bottom-padding;
	font-family:@body-font; 
}

h4, h5{
	font-size:1.25rem;
	color:black;
	padding-bottom:@standard-bottom-padding;
	font-family:@body-font;
}

p {
	color:darkslategray;
	padding-top:2%;
	padding-bottom:@standard-bottom-padding;
	// @media (max-width:500px) {
	// 	.center-align();
	// }
}

nav {
	width:100%;
	display: flex;
	flex-direction: row;
}

nav a {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	color:black;
	padding-top:1.5rem;
	padding-bottom:1.5rem;
}

.top-nav-links{
	width:100%;
	padding-left:50%;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	
}
a:hover{
	color:@hover-color;
}
		
	




#header{
	width:100%;
	background-color:lightgray;
	padding-top:2rem;
	padding-left:5%;
	padding-right:5%;
	padding-bottom:5%;
		.header-image{ 
			width:40%;
			padding-top:5%;
			padding-bottom:5%;
	}
	h3{
		padding-bottom:@standard-bottom-padding;
		border-bottom:1px dotted @default-font-color;
	}

	.team-up-btn {
		display: block;
		background-color: @main-color;
		color:@button-text-color;
		font-size: 1.175rem;
		color: @button-text-color;
		padding:.5rem;
		border-radius:10px;
			@media(max-width: 800px) {
				background:@second-color;
			}
			@media(max-width: 500px) {
			background: @third-color;
			.center-align();
			}
		}
	}



#top-content {
	width:100%;
	display: flex;
	flex-direction:row;
    // flex-wrap: wrap;
	justify-content: space-around;
	align-items:center;
	padding-top:@standard-bottom-padding;
	padding-bottom:@standard-bottom-padding;
	.text-container {
		padding-bottom:@standard-bottom-padding;  
	.text-container-box div{
		border:1px solid lightgray;
		padding:1.5rem;

	}
 }
}


 #middle-content{
	 padding-bottom:10%;
	 .table{
		.tbl {
			display: flex;
			flex-direction: column;
		.row {
			display: flex;
			min-height: 50px;
		.cell {
			flex: 4;
		.cell:nth-child(1) {
			flex: 1;
		.cell:nth-child(2) {
			flex: 2;
		.row:first-child .cell {
			display: flex;
			justify-content: center;        
			align-items: center;
			border-bottom:1px solid lightgray;
		.row .cell {
			padding: 1%;
			box-sizing: border-box;
			display:flex;
			justify-content:center;
			align-items:center;
			border-bottom:1px solid lightgray; 
			}
		}
		}
		}
		}
		}
	}
}

 }


#bottom{

.footer-content{
	width: 100%;

}
footer {
	background: darkgray;

}
footer nav {
    display: flex;
    justify-content: center;
	align-items: center;
	padding:2rem;
    font-size:1rem;
}

footer nav a {
    color:@default-font-color;
	text-decoration: none;
}
}